<h2>Reset Password</h2>
<form method="POST" action="/confirm_password">
  <input name="verification_code" type="text" placeholder="Enter the verficiation code here" />
  <input name="new_password" type="password" placeholder="Enter your new password here!" />
  <input type="submit" value="Submit" />
</form>
