<html>
  <body>
    <form method="POST" action="/signup/doctor">
      <input type="text" name="email" placeholder="Email Address" required />
      <input type="password" name="password" placeholder="Password" required />
      <input type="submit" value="Sign up" />
    </form>
  </body>
</html>
