<html>
  <body>
    <form method="GET" action="/signup/doctor">
      <input type="submit" value="Doctor Sign Up" />
    </form>
    <form method="GET" action="/signup/patient">
      <input type="submit" value="Patient Sign Up" />
    </form>
  </body>
</html>
